html {
  scroll-behavior: smooth;
}

body {
  color: white;
  text-align: center;
  font-family:Roboto;
  background-color: #29362F;
}

h1 {
  color: #E1EFF3;
}

h2 {
  margin-top:-10px;
  margin-bottom:3px;
}

a { 
  color: #93BD89;
}

.pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pet {
    display: flex;
    flex-direction: column-reverse;
    color: inherit;
    text-decoration: none;
}

.pet.owner {
  color: #E1EFF3;
  font-style:italic;
}

.pet img {
  height:200px;
  border-radius: 10px;
  box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);
  padding: 2px;
  margin: 20px;
  align-self: center;
}

.pet:target img {
    box-shadow: 1px 0px 20px 10px rgba(147,189,137,0.8);
}

footer {
  margin: 2rem 0;
}