<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Pets of Brooklyn Data Co.</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
  {# Include the CSS and minify it with a filter #}
  {% set css %}
    {% include "style.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>

<body>
  <header>
    <h1>Pets of Brooklyn Data Co.</h1>
    <p>Say hello to our little friends</p>
  </header>
  <main class="pets">
  {# Output some HTML for each pet found in _data/pets.json #}
  {% for pet in pets %}
    <a class="pet" href="#{{ pet.name | slug }}" id="{{ pet.name | slug }}">
      <h2>{{ pet.name }}</h2>
      <img src="/images/{{ pet.photo }}" alt="{{ pet.name }}" loading="lazy">
    </a>
  {% endfor %}
  </main>
  <footer>
    Made with love by Brooklyn Data Co. (a Velir company). Forked from the <a href="https://github.com/netlify/petsofnetlify">original petsofnetlify</a> made by Netlify. Follow <a href="https://twitter.com/BrooklynData">@BrooklynData</a> for regular updates</a>.
  </footer>
</body>
</html>
